img {
    float: none;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.yes {
    color: red;
    opacity: 0.7;
}

.no {
    color: blue;
}

.header {
    background-color: white;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-collapse {
    padding-left: 20px;
}

.ticker {
    background-color: #6e5203;
    color: white;
    padding: 10px 0;
    overflow: hidden;
}

.overflow-hidden {
    width: 100%;
    overflow: hidden;
}

.scroll-text {
    padding-left: 100%;
    white-space: nowrap;
    display: inline-block;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(-100%);
    }
}