{% extends 'base.html' %} 
{% block title %} home {% endblock %} 

{%block content%}

    <!-- ☕ Welcome to Day88 Cafe! Enjoy our fresh coffee. -->
<div class="ticker">
  <div class="scroll-text">
    ☕ Latest Posted Cafe ☕ :&nbsp;
    {% for cafe in latest_post[-5:] %}
    {{ cafe }}
    &emsp;
    {% endfor %}
  </div>
</div>

<div class="px-4 pt-2 my-4 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Coffee shop lists</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Find cafes with WI-FI,power outlets,and great coffee.
    </p>

    <!-- ボタンの反応を検知 -->
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <a href="{{ url_for('cafe') }}" class="btn btn-primary btn-lg px-4 me-sm-3">
        See cafes
      </a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('add') }}" class="btn btn-outline-secondary btn-lg px-4">
        Add Cafe
      </a>
      {% endif %}
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 70vh">
    <div class="container px-5">
      <img src="static/cafe_shop.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700"
        height="500" loading="lazy" />
    </div>
  </div>
</div>

{% endblock %}
